.bg-li{
    background-color: #FED36C;
}

.text-li{
    color: #FED36C;
}

.borderr{
    overflow: hidden !important;
    height: 100%;
    margin: 0 !important;
}

ul li{
    transition: all 0.3s;
    cursor: pointer;
}

ul li:hover{
    background-color: #FED36C;
}

.w-20{
    width: 19% !important;
}

.cursor-pointer{
    cursor: pointer;
}

canvas{
    width: 500px !important;
    height: auto !important;
}